## Pretty URL
RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) /ABSOLUTE/GenesisFramework/SourceFiles/public/index.php?page_url=$1  [NC,L]
